<template>
    <nav class="nav.navbar.navbar-expand-sm navbar-dark bg-info mb-2">
      <div class="container">
          <a href="#" class="navbar-brand">Articles</a>
      </div>
    </nav>
</template>